@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de afazeres") {
    
    <h1>@tasks.size() tarefa(s)</h1>
    
    <ul>
        @for(task <- tasks) {
            <li>
                @task.label
                
                @form(routes.Application.deleteTask(task.id)) {
                    <input type="submit" value="Apagar">
                }
            </li>
        }
    </ul>
    
    <h2>Adicione uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("Descrição:")) 
        
        <input type="submit" value="Criar">
        
    }
    
}