@(tasks: List[Task], taskForm: Form[Task])

@import helper._



@main("Lista de afazeres") {
    <div id="grad1">
   	       
    <h1>Adicione uma nova tarefa!</h1>
    
    @form(routes.Application.newTask()) {
        
        
        @inputText(taskForm("label"), '_label -> <b>Tarefa:</b>)
        @inputText(taskForm("project"), '_label -> <b>Projeto:</b>)
        @inputText(taskForm("priority"), '_label -> <b>Prioridade:</b>)
         
        <input type="submit" value="Criar">
        
    }
        
    <h1>@tasks.size() tarefa(s)</h1>
    
	        
    
    <h2> - Por fazer:</h2>
    
    
    <br>
    <div class="box">
    <ul>
        @for(task <- tasks) {
            
            @if(!task.isDone()){
            	<br>
	             <b>Descrição</b> = @task.getLabel() <b>|</b>  
	   			 <b>Projeto</b> =  @task.getProject() <b>|</b>
	             <b>Prioridade</b> = @task.getPriority() <b>|</b> 
	            
	                
	              	<li> 
	                @form(routes.Application.deleteTask(task.getId())) {
	                    <input type="submit" value="Apagar">
	                }
	                
	                @form(routes.Application.updateTask(task.getId())) {
	                    <input type="submit" value="Feita">
	                }</li>
	              
	            
            }
        }
    </ul>
    
    </div>
    
   <p class="pos_fixed">
    
    <h2>- Tarefas feitas:</h2>
    
    <div class="box">
    
    <ul>
        @for(task <- tasks) {
            
            @if(task.isDone()){
	            <li>
	             <b>Descrição</b> = @task.getLabel() <b>|</b>  
	   			 <b>Projeto</b> =  @task.getProject() <b>|</b>
	             <b>Prioridade</b> = @task.getPriority() <b>|</b> 
	               
	                
	                @form(routes.Application.deleteTask(task.getId())) {
	                    <input type="submit" value="Apagar">
	                }
	            </li>
            }
        }
    </ul>
    
    </p>
        
    
    </div>
    
    </div>
    
}